.card22 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: start;
  flex-direction: row;

  margin-top: 70px;

  width: 100%;
}
#card1 {
  align-items: center;
  border-radius: 20px;
  width: 20%;
  margin: auto;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  gap: 10px;
  position: fixed; 
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden; /* Added to handle float issues */
}

.navbar a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.navbar a:hover {
  background-color: rgb(141, 16, 16);
  color: #f3efef;
}

.navbar .site-name {
  float: left;
  margin-left: 20px;
}

.navbar .navbar-right {
  float: right;
  float: none;
  text-align: left;
  font-size: larger;
font-weight: bold;
}

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
   display:inline;
    text-align: left;
    width: 90%;
    box-sizing: border-box;
    
  }
  .navbar{
    display: flex;
    flex-flow: row;
  }
 .site-name{
 
  display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
  
 }
 
}
#username{
  float: right;
  font-size: large;
  color: brown;
  margin-right: 20px;
}
.maintext{
  text-align: center;
  margin-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 400;
}
.card-title{
  margin: auto;
}
.desciption{
  margin-left: 10px;
  margin-right: 10px;
}
#title {
  margin-left: 10px;
  margin-right: 10px;
}
.footer{
  display: flex;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-color: white;
  width: 480px;
  min-height: 650px;
  
  margin: auto;
  top: 60%;
  left: 50%;

  border-radius: 10px;
  box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.5);
}
.content {
  width: 56%;
 
  margin: auto;
 
  text-align: center;
}
 
.img1{
  width: 70px;
  position: relative;
  top: 20px;
}
.header {
  font-size: 32px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 10px;
  line-height: 46px;
}
.detail {
  width: 100%;
  height: 48px;
  margin: 5px;
  padding: 15px;
  font-size: 15px;
  color: gray;
  border: 2px solid rgb(218, 214, 214);
  border-radius: 15px;
}
.detail:focus {
  box-shadow: 0px -7px 3px -2px rgba(15, 91, 231, 0.4),
    0px 7px 3px -2px rgba(15, 91, 231, 0.4),
    7px 0px 3px -2px rgba(15, 91, 231, 0.4),
    -7px 0px 3px -2px rgba(15, 91, 231, 0.4);
  outline: none;
}

h4 {
  font-size: 13px;
  font-weight: 700;
  position: relative;
  left: -60px;
  margin: 5px;
}

.btn {
  width: 100%;
  height: 40px;
  color: black;
  border-radius: 20px;
  font-size: 20px;
  margin: 5px 0px;
  align-items: flex-end;
}

.int {
  background-color: #f30d19;
  margin: 10px 0px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.int:hover{
  background-color: #df0812;
}

.or {
  font-size: 15px;
  font-weight: 700;
  margin: 10px 0px;
}

.fbk {
  background-color: rgb(9, 128, 240);
  margin: 5px 0px;
  font-size: 16px;
  font-weight: 700;
}
.fbk a {
  text-decoration: none;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}
.fbk:hover{
  background-color: rgb(8, 110, 206);
}
.ggl{
  text-align: center;
  
}
.ggl a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.ggl:hover{
  background-color: #a0a0a0;
}

footer p {
  font-size: 12px;
  margin: 10px;
  opacity: 0.7;
}
p:last-child {
  opacity: 1;
}
hr {
  width: 50%;
  opacity: 0.4;
  margin-left: 25%;
}
.footerimg{
 
  width: 50%;
margin-left: 20px;
}
.footer{
  border: 2px;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  
  background-image: url(../images/uploads/background-fashion-lifestyle-traveler.jpg);
}
.text2{
  color: #bf1821;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
   margin-top: 80px;
}
.sitename{
  color: #df0812;
  
float: right;
margin-top: 9px;
font-size: x-large;
font-weight: bolder;
font-family: Georgia, 'Times New Roman', Times, serif;
}